@font-face {
  font-family: Proximanova;

  src: url("fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("fonts/ProximaNova-Bold.woff") format("woff");
  src: url("fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("fonts/ProximaNova-Semibold.woff") format("woff");
  src: url("fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("fonts/ProximaNova-Regular.woff") format("woff");
}
@font-face {
  font-family: Ruberoid;

  src: url("fonts/Ruberoid-Bold.woff2") format("woff2"),
    url("fonts/Ruberoid-Bold.woff") format("woff");
  src: url("fonts/Ruberoid-Light.woff2") format("woff2"),
    url("fonts/Ruberoid-Light.woff") format("woff");
  src: url("fonts/Ruberoid-Medium.woff2") format("woff2"),
    url("fonts/Ruberoid-Medium.woff") format("woff");
  src: url("fonts/Ruberoid-SemiBold.woff2") format("woff2"),
    url("fonts/Ruberoid-SemiBold.woff") format("woff");
}
